<div *ngFor="let p of products; let i = index">
    <div class="product-container" [ngStyle]="{backgroundColor: p.available === 'Available' ? '#D5f5E3' : '#FADBD8' }">
        <img [src]="p.image" alt="" style="max-height: 50px; max-width: 50px">
    
     <div class="name-container"><h6>{{p.name}}</h6></div>
     <div class="detailContainer">
        <div class="details" [ngStyle]="{color: p.available === 'Available' ? 'Green' : 'Red'}">{{p.available}}</div>
        <div class="details"><b>Price:</b>{{p.price}}</div>
        <div class="details"><b>Color:</b>{{p.color}}</div>
        <div class="options">
            <button class="btn btn-success">Show Details</button>
            <button class="btn btn-warning" *ngIf="p.available === 'Available' ">Buy Now</button>
        </div>
     </div>

     </div>
     
</div>
